<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.vexelon.myglob" android:versionName="2.0.3" android:versionCode="7" >
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:description="@string/about_tagline" android:installLocation="preferExternal" android:debuggable="false">
        <activity android:label="@string/app_name" android:name="MainActivity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!-- 
android:installLocation="preferExternal"
 -->
    
<activity android:name="AboutActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/app_name"></activity>

<activity android:label="Preferences1" android:name=".configuration.AccountPreferencesActivity"></activity>
<receiver android:name="WidgetProvider">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    </intent-filter>
      <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />    
</receiver>
<service android:name="UpdateWidgetService"></service>
</application>
    <uses-sdk android:minSdkVersion="3"/>



<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 